rasa==3.5.17
rasa-sdk==3.5.1
spacy==3.5.3
en-core-web-md@https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz
pydantic==1.10.0
numpy==1.21.0
h5py==3.1.0
typing_extensions==4.5.0
